
table {
  width: 400px;
  background: #eee;
}

th {
  background: #333;
  color: #fff;
}

table, td, th {
  border: solid 1px #000;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(even) {
  background: #ddd;
}

table img{
  width: 80px;
}

label {
  display: block;
}

input {
  width: 300px;
}

input[type="radio"]{
  width: auto;
}

select{
  width: 300px;
}
